.hero {
  background-image: url(img/woman-running-against-wall-royalty-free-image-930134532-1552999674.jpg);
  background-position: center;
  height: 80vh;
}

#hvorforimg {
  background-color: aquamarine;
}

.produktv {
  background: hsl(var(--hue, 0));
  transition: background .4s;
}

h1 {
  font-family: bree, sans-serif;
  font-weight: 200;
  font-style: normal;
  text-transform: uppercase;
  font-size: 3em;

}

h2 {
  font-family: bree, sans-serif;
  font-weight: 400;
  font-size: 3em;
  font-style: normal;
  text-transform: uppercase;
  margin-right: 0.3em;
}

h3 {
  font-family: bree, sans-serif;
  font-weight: 400;
  font-size: 1.5em;
  font-style: normal;
}


#laesmere a {
  text-decoration: none;
  font-family: acumin-pro, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 0.8em;
  color: #80A8B4;
}

#laesmere a:hover {
  opacity: 80%;
}

.card {
  border-style: solid;
  border-width: thin;
  border-radius: 0;
  background-color: transparent;
}

p {
  font-family: acumin-pro, sans-serif;
  font-weight: 400;
  font-style: normal;
  line-height: 1.5rem;
}

.card p {
  font-size: 0.8rem;
}


#laesmere a {
  text-decoration: none;
  font-family: acumin-pro, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 0.8em;
}

.gron .card {
  border-color: #879288;

}

.gron #laesmere a {
  color: #879288;
}

.gul .card {
  border-color: #E4CA97;

}

.gul #laesmere a {
  color: #E4CA97;
}

.lilla .card {
  border-color: #A5A7B8;

}

.lilla #laesmere a {
  color: #A5A7B8;
}

.rod .card {
  border-color: #C06E68;

}

.rod #laesmere a {
  color: #C06E68;
}

.orange .card {
  border-color: #E0976A;

}

.orange #laesmere a {
  color: #E0976A;
}

#gron_overskrift,
#gron_text h3 {
  color: #879288;
}

#gul_overskrift,
#gul_text h3 {
  color: #E4CA97;
}

#lilla_overskrift,
#lilla_text h3 {
  color: #A5A7B8;
}

#rod_overskrift,
#rod_text h3 {
  color: #C06E68;
}

#orange_overskrift,
#orange_text h3 {
  color: #E0976A;
}

.produkt_text {
  font-size: 0.8em;

}

button {
  background-color: #80A8B4 !important;
  border-color: #80A8B4 !important;
  border-radius: 0 !important;
  width: 29vw;
}


input {
  border-color: #80A8B4 !important;
  border-radius: 0 !important;
  border-style: hidden !important;
  border-bottom-style: solid !important;
}
